# Ignore everything in these directories
DataSet/*
DataSet_Processed/*
Models_saved/*

Models milestones and benchmark.xlsx
__pycache__/config.cpython-310.pyc

#Config.py
#While working on project you can uncomment Config


